SECRET_KEY=django-insecure-cambiar-en-produccion
DEBUG=True
DB_NAME=jipem_db
DB_USER=jipem_user
DB_PASSWORD=jipem_pass
DB_HOST=localhost
DB_PORT=3306
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ORIGIN=http://localhost:5173
